.gitauth
*.apk
*.zip
*.jar

magiskmodule/README.md
magiskmodule/module.prop
magiskmodule/version.sh
magiskmodule/aapt2lib
magiskmodule/packageversions
magiskmodule/supportedversions.md
magiskmodule/options
magiskmodule/options.json
magiskmodule/logo
